{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Заказ {{ order.numberOrder }} от {{ order.dateOrder }}</h3>
  </div>
  <div class="panel-body">
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Наименование клиента</span>
          <input id="order_client_name" type="text" class="form-control"
                 placeholder="Введите наименование клиента" aria-describedby="basic-addon1"
          value="{{ order.client.nameClient }}">
      </div>

  </div>
</div>
{% endblock %}