{% extends "index.html" %}
{% block content2 %}

<div class="container-fluid">
<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
  <!-- Содержание панели по умолчанию -->
            <div class="panel-heading">Заказы (все)</div>

  <!-- Таблица -->
             <table class="table">
                <thead>
                     <tr>
                         <th>Клиент</th>
                         <th>Номер заказа</th>
                         <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    {% for orders in latest_order %}
                    <tr>

                        <td><a href ="{% url 'order_detail' orders.id %}">{{ orders.client.nameClient }}</a></td>
                        <td><a href ="{% url 'order_detail' orders.id %}">{{ orders.numberOrder }}</a></td>
                        <td><a href ="{% url 'order_detail' orders.id %}">{{ orders.dateOrder }}</a></td>


                    </tr>
                {% endfor %}
                </tbody>

             </table>
        </div>
    </div>
    <div class="col-lg-2">

        <div class="panel panel-default">
            <div class="panel-heading">Действия</div>

            <div align="justify" class="btn-group-vertical" role="group" aria-label="Действия">

                <button type="button" class="btn btn-primary btn-sm btn-block">Новый заказ</button>
                <p></p>



                <button type="button" class="btn btn-outline-secondary">Отменить заказ</button>

            </div>


        </div>
    </div>
</div>
</div>

<script>

    var a = document.getElementById('menu_orders');
    a.setAttribute('class','active')
    var b = document.getElementById('menu_dict_services');
    b.setAttribute('class','')
    var c = document.getElementById('menu_dict_clients');
    c.setAttribute('class','')

</script>
{% endblock %}