{% extends "index.html" %}
{% block content2 %}
<h1>Клиенты</h1>

<ul>
        {% for dict_clients_list in latest_dicts_clients %}
            <li>

                <a href ="{% url 'dict_clients_detail' dict_clients_list.id %}"> {{ dict_clients_list.codeClient }} {{ dict_clients_list.nameClient }} </a>

            </li>
        {% endfor %}

</ul>
<script>

    var a = document.getElementById('menu_orders');
    a.setAttribute('class','')
    var b = document.getElementById('menu_dict_services');
    b.setAttribute('class','')
    var c = document.getElementById('menu_dict_clients');
    c.setAttribute('class','active')

</script>
{% endblock %}