{% extends "index.html" %}
{% block content2 %}

<h1>Услуги</h1>
<!-- <a href = "{% url 'dicts' %}">Назад в справочники</a> -->

<ul>
        {% for dict_services_list in latest_dicts_services %}
            <li>

                    {{ dict_services_list.codeService }} {{ dict_services_list.nameService }}

            </li>
        {% endfor %}

</ul>
<script>

    var a = document.getElementById('menu_orders');
    a.setAttribute('class','')
    var b = document.getElementById('menu_dict_services');
    b.setAttribute('class','active')
    var c = document.getElementById('menu_dict_clients');
    c.setAttribute('class','')

</script>
{% endblock %}